body {
	margin: 0px;
	padding: 0px;
	color: rgba(255, 255, 255, 0.75)
}

button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0px;
	outline: none;
}

#navbar {
	top: 0px;
	-webkit-app-region: drag;
}

#topBar {
	width: 100%;
	height: 20px;
	background-color: #8a0000;
	position: absolute;
	-webkit-app-region: drag;
}

#underBar {
	width: 100%;
	height: 72px;
	background-color: #c21f1f;
	position: absolute;
	top: 20px;
}

.button_hamburger {
	height: 72px;
	width: 72px;
	color: rgba(255, 255, 255, 0.75);
	font-size: 24px;
}

.button_hamburger:hover {
	color: rgba(255, 255, 255, 0.90)
}

#sidebar_screen {
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	z-index: 10;
	padding: 0px;
}

#sidebar {
	width: 250px;
	height: 100%;
	background-color: #101010;
	margin: 0;
	display: inline-flex;
	animation: animationFrames ease-out 0.1s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
}

@keyframes animationFrames {
	0% {
		transform: translate(-250px, 1px);
	}
	100% {
		transform: translate(0px, 1px);
	}
}

#side_exit {
	width: calc(100% - 254px);
	height: 100%;
	margin: 0;
	display: inline-flex;
}

#time {
	height: 10px;
	margin: 0px;
	padding: 0px;
	margin-top: 1px;
	margin-right: 5px;
	float: right;
	font-family: Roboto;
}

#time_elapsed {
	display: none;
	height: 10px;
	margin: 0px;
	padding: 0px;
	margin-top: 1px;
	margin-left: 5px;
	float: left;
	font-family: Roboto;
}

#idinput {
	padding: 0px;
	margin: 0px;
	margin-top: 72px;
	position: absolute;
	width: 250px;
	height: 350px;
	border: none;
	resize: none;
	outline: none;
	font-family: Roboto;
	font-weight: 600;
}

#backbutton {
	width: 250px;
	height: 72px;
	position: absolute;
	background-color: #c21f1f;
}

#back_hamburger {
	margin-top: 5px;
}

.ripple {
	background-position: center;
	transition: background 0.8s;
}

.ripple:hover {
	background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.ripple:active {
	background-color: #6eb9f7;
	background-size: 100%;
	transition: background 0s;
}

#action{
	height: 20px;
	float: right;
	margin: 0px;
	padding: 0px;
	width: 60px;
	display: flex;
	cursor: pointer;
	-webkit-app-region: no-drag;
}

.action_button{
	height: 20px;
	width: 20px;
	margin: 0px;
	padding: 0px;
	display: inline-flex;
	cursor: pointer;
}

.action_button:hover{
	background-color: #101010;
}

.action_button i{
	height: 20px;
	width: 20px;
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	cursor: pointer;
}