body {
  margin: 0px;
  padding: 0px;
  font-family: Roboto;
  overflow: hidden;
}
@keyframes slideIn {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
@keyframes slideOut {
  0% {
    left: 0%;
  }
  100% {
    left: -100%;
  }
}
.slideIn {
  animation: slideIn linear forwards 0.2s;
}
.slideOut {
  animation: slideOut linear forwards 0.2s;
}
@keyframes popIn {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes popOut {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0, 0);
  }
}
.popIn {
  animation: popIn linear forwards 0.2s;
}
.popOut {
  animation: popOut linear forwards 0.2s;
}
.hidden {
  display: none !important;
}
#container {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #202124;
}
#titlebar {
  position: absolute;
  z-index: 9001;
  height: 30px;
  width: 100%;
  top: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
}
#titlebar #action {
  height: 30px;
  width: 135px;
}
#titlebar #title {
  flex-grow: 1;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  text-align: center;
  -webkit-app-region: drag;
  color: rgba(255, 255, 255, 0.8);
  user-select: none;
}
#titlebar #buttons {
  align-self: flex-end;
  height: 30px;
  width: 135px;
  display: flex;
  flex-direction: row;
}
#titlebar #buttons .button {
  height: 30px;
  width: 45px;
  transition: all 0.1s ease;
}
#titlebar #buttons .button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
#titlebar #buttons .button.red:hover {
  background-color: rgba(255, 0, 0, 0.75);
}
#titlebar #buttons .button .close {
  height: 30px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.279 5.5L11 10.221l-.779.779L5.5 6.279.779 11 0 10.221 4.721 5.5 0 .779.779 0 5.5 4.721 10.221 0 11 .779 6.279 5.5z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
}
#titlebar #buttons .button .maximize {
  height: 30px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 0v11H0V0h11zM9.899 1.101H1.1V9.9h8.8V1.1z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
}
#titlebar #buttons .button .minimize {
  height: 30px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 4.399V5.5H0V4.399h11z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
}
#content {
  position: relative;
  height: calc(100% - 30px);
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
#content #sidebar {
  position: relative;
  height: 100%;
  width: 60px;
  background: #202124;
  display: flex;
  flex-direction: column;
}
#content #sidebar .option {
  height: 40px;
  width: 40px;
  transition: 0.2s all ease;
  margin: 10px;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}
#content #sidebar .option i {
  line-height: 40px;
  font-size: 30px;
  text-align: center;
  width: 40px;
  user-select: none;
  cursor: pointer;
}
#content #sidebar .option:hover {
  color: rgba(255, 255, 255, 0.8);
  background: #5D5DF2;
  border-radius: 25%;
}
#content #userlist {
  height: 100%;
  flex-grow: 1;
  background: #2D2E33;
  flex-direction: column;
  border-top-left-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  transform: translate3d(0, 0, 0);
}
#scaninfo,
#settings,
#splash {
  position: relative;
  z-index: 1000;
  height: calc(100% - 30px);
  padding-top: 30px;
  width: 100%;
  background: #2D2E33;
  display: flex;
  flex-direction: row;
}
#scaninfo .options,
#settings .options,
#splash .options {
  height: 100%;
  width: 60px;
  display: flex;
  flex-direction: column;
}
#scaninfo .options .option,
#settings .options .option,
#splash .options .option {
  height: 40px;
  width: 40px;
  transition: 0.2s all ease;
  margin: 10px;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}
#scaninfo .options .option i,
#settings .options .option i,
#splash .options .option i {
  line-height: 40px;
  font-size: 30px;
  text-align: center;
  width: 40px;
  user-select: none;
  cursor: pointer;
}
#scaninfo .options .option:hover,
#settings .options .option:hover,
#splash .options .option:hover {
  color: rgba(255, 255, 255, 0.8);
  background: #5D5DF2;
  border-radius: 25%;
}
#scaninfo #userScan,
#settings #userScan,
#splash #userScan {
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  width: calc(100% - 80px);
  height: 300px;
  margin: 0;
  padding: 10px;
  border-top-left-radius: 5px;
  outline: none;
  resize: none;
  font-size: 15px;
  line-height: 16px;
  font-family: Roboto;
  font-weight: 400;
  transition: all 0.2s ease;
  color: rgba(255, 255, 255, 0.6);
  z-index: 1001;
}
#scaninfo #userScan:hover,
#settings #userScan:hover,
#splash #userScan:hover {
  background: #57585C;
  color: rgba(255, 255, 255, 0.8);
}
#scaninfo #userScan:focus,
#settings #userScan:focus,
#splash #userScan:focus {
  background: #57585C;
  color: rgba(255, 255, 255, 0.8);
}
#scaninfo #userScan:focus::placeholder,
#settings #userScan:focus::placeholder,
#splash #userScan:focus::placeholder {
  color: rgba(255, 255, 255, 0.6) !important;
}
#scaninfo .settings,
#settings .settings,
#splash .settings {
  height: calc(100% - 320px - 10px);
  padding: 10px 10px 0px 10px;
  width: 100%;
  max-width: 600px;
  position: relative;
  overflow-y: auto;
}
#scaninfo .settings .note,
#settings .settings .note,
#splash .settings .note {
  line-height: 15px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
  user-select: none;
  cursor: help;
}
#scaninfo .content,
#settings .content,
#splash .content {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
}
#scaninfo .content #progress,
#settings .content #progress,
#splash .content #progress {
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}
.subtitle {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.6);
  user-select: none;
  cursor: default;
}
.checkbox {
  height: 30px;
  width: 35px;
  position: relative;
  margin: 0px 12.5px;
}
.checkbox input {
  height: 30px;
  width: 45px;
  opacity: 0;
  position: absolute;
  z-index: 10;
}
.checkbox input:checked + div {
  background: #4E4ECC;
}
.checkbox input:checked + div div {
  left: 20px;
  background: #5D5DF2;
  box-shadow: 0px 0px 0px 3px #5D5DF2;
}
.checkbox div {
  margin-top: 7.5px;
  width: 35px;
  height: 15px;
  border-radius: 22.5px;
  background: #202124;
  transition: all 0.2s ease;
}
.checkbox div div {
  transition: all 0.2s ease;
  margin: 0px;
  position: absolute;
  left: 0px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #57585C;
  box-shadow: 0px 0px 0px 3px #57585C;
}
.valueInput {
  width: 100%;
  height: 30px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
  position: relative;
}
.valueInput.large input {
  width: 200px;
}
.valueInput.large .underline {
  width: 210px;
}
.valueInput .inputName {
  font-size: 15px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.5);
  user-select: none;
  cursor: default;
}
.valueInput input {
  width: 50px;
  height: 100%;
  border: none;
  outline: none;
  line-height: 30px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Roboto;
  background: rgba(255, 255, 255, 0.05);
  margin: 0;
  padding: 0px 5px;
  transition: all 0.2s ease;
  border-radius: 5px 5px 0px 0px;
}
.valueInput input:hover {
  background: rgba(255, 255, 255, 0.1);
}
.valueInput input:hover + .underline {
  width: 100%;
}
.valueInput input:focus {
  background: rgba(255, 255, 255, 0.1);
}
.valueInput input:focus + .underline {
  box-shadow: 0px -1px 0px 0px #5D5DF2;
  background: #5D5DF2;
  width: 100%;
}
.valueInput .underline {
  position: absolute;
  width: 60px;
  height: 1px;
  bottom: 0;
  right: 0;
  background: #57585C;
  transition: all 0.2s ease;
}
.btnContainer {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.btnContainer .btn {
  height: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  line-height: 20px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  transition: all 0.2s ease;
  user-select: none;
  cursor: pointer;
}
.btnContainer .btn:hover {
  background-color: #5D5DF2;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.8);
}
[tooltip] {
  margin: 20px;
  position: relative;
}
[tooltip][pos="right"]::after {
  transform: translateY(-50%);
  left: calc(100% + 10px);
  top: 50%;
}
[tooltip][pos="left"]::after {
  transform: translateY(-50%);
  right: calc(100% + 10px);
  top: 50%;
}
[tooltip][pos="top"]::after {
  transform: translateX(-50%);
  bottom: calc(100% + 10px);
  left: 50%;
}
[tooltip][pos="bottom"]::after {
  transform: translateX(-50%);
  top: calc(100% + 10px);
  left: 50%;
}
[tooltip]::after {
  background: rgba(0, 0, 0, 0.8);
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
  line-height: 15px;
  content: attr(tooltip);
  position: absolute;
  transform: translate(-50%, -50%);
  visibility: hidden;
  min-width: 60px;
  text-align: center;
  z-index: 9002;
  color: rgba(255, 255, 255, 0.8);
  white-space: nowrap;
  pointer-events: none;
}
[tooltip]:hover::after {
  visibility: visible;
}
[tooltipS] {
  margin: 20px;
  position: relative;
}
[tooltipS][posS="right"]::before {
  transform: translateY(-50%);
  left: calc(100% + 10px);
  top: 50%;
}
[tooltipS][posS="left"]::before {
  transform: translateY(-50%);
  right: calc(100% + 10px);
  top: 50%;
}
[tooltipS][posS="top"]::before {
  transform: translateX(-50%);
  bottom: calc(100% + 10px);
  left: 50%;
}
[tooltipS][posS="bottom"]::before {
  transform: translateX(-50%);
  top: calc(100% + 10px);
  left: 50%;
}
[tooltipS]::before {
  background: rgba(0, 0, 0, 0.8);
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
  line-height: 15px;
  content: attr(tooltipS);
  position: absolute;
  transform: translate(-50%, -50%);
  visibility: hidden;
  min-width: 60px;
  text-align: center;
  z-index: 9002;
  color: rgba(255, 255, 255, 0.8);
  white-space: nowrap;
  pointer-events: none;
}
[tooltipS]:hover::before {
  visibility: visible;
}
.spacer {
  flex-grow: 1;
}
.item.Normal {
  background-color: #B2B2B2;
}
.item.Genuine {
  background-color: #4D7455;
}
.item.Vintage {
  background-color: #476291;
}
.item.Unusual {
  background-color: #8650AC;
}
.item.Unique {
  background-color: #FFD700;
}
.item.Community {
  background-color: #70B04A;
}
.item.Valve {
  background-color: #A50F79;
}
.item.Self-Made {
  background-color: #70B04A;
}
.item.Strange {
  background-color: #CF6A32;
}
.item.Haunted {
  background-color: #38F3AB;
}
.item.Collector {
  background-color: #AA0000;
}
.item.Decorated {
  background-color: #FAFAFA;
}
.user {
  width: 100%;
  background: #202124;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  user-select: none;
}
.user .actions {
  height: 75px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.user .actions .profile {
  height: 55px;
  width: 55px;
  margin: 10px;
  background: #5D5DF2;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.user .actions .profile .material-icons {
  width: 55px;
  line-height: 55px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 40px;
}
.user .actions .profile img {
  height: 55px;
  width: 55px;
  border-radius: 50%;
}
.user .actions .hours {
  height: 30px;
  padding: 0px 10px;
  font-size: 15px;
  line-height: 30px;
  margin: calc(45px / 2) 5px;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
}
.user .actions .action {
  height: 40px;
  width: 40px;
  background: rgba(255, 255, 255, 0.1);
  margin: calc(35px / 2) 5px;
  border-radius: 50%;
  transition: all 0.2s ease;
}
.user .actions .action i {
  line-height: 40px;
  width: 40px;
  font-size: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  user-select: none;
  cursor: pointer;
}
.user .actions .action:hover {
  border-radius: 10px;
  background-color: #5D5DF2;
}
.user .actions .action:hover i {
  color: rgba(255, 255, 255, 0.8);
}
.user .actions .action:last-child {
  margin: calc(35px / 2);
}
.user .items {
  min-height: 75px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.user .items .item {
  height: 65px;
  width: 65px;
  border-radius: 10px;
  margin: 5px;
  position: relative;
  cursor: default;
}
.user .items .item i {
  line-height: 65px;
  width: 65px;
  font-size: 50px;
  color: #202124;
  text-align: center;
  user-select: none;
  cursor: default;
}
.user .items .item img {
  position: absolute;
}
.user .items .item .tradable {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
  background: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 5px;
}
.user .items .item .tradable i {
  height: 25px;
  width: 25px;
  line-height: 25px;
  font-size: 21px;
  color: rgba(255, 255, 255, 0.6);
}
.user .items .item .price {
  height: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
  line-height: 20px;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 10px 10px;
  text-align: center;
  user-select: none;
  cursor: default;
}
*::-webkit-scrollbar {
  width: 5px;
  background: #202124;
}
*::-webkit-scrollbar-button {
  display: none;
}
*::-webkit-scrollbar-thumb {
  background: #5D5DF2;
  border-radius: 2.5px;
}
