body {
	margin: 0px;
	padding: 0px;
	color: rgba(255, 255, 255, 0.75)
}

button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0px;
	outline: none;
}

#navbar {
	top: 0px;
	-webkit-app-region: drag;
}

#topBar {
	width: 100%;
	height: 20px;
	background-color: #212121;
	position: fixed;
	-webkit-app-region: drag;
	z-index: 10;
}

#underBar {
	width: 100%;
	height: 72px;
	background-color: #484848;
	position: fixed;
	top: 20px;
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.button_hamburger {
	height: 72px;
	width: 72px;
	color: rgba(255, 255, 255, 0.75);
	font-size: 24px;
}

.button_hamburger:hover {
	color: rgba(255, 255, 255, 0.90)
}

#sidebar_screen {
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	z-index: 10;
	padding: 0px;
	animation: fadeIn ease-in 0.2s forwards;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
}

#sidebar {
	width: 250px;
	height: 100%;
	background-color: #ffffff;
	margin: 0;
	display: flex;
	animation: slideRight linear 0.2s forwards;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	flex-direction: column;
	box-shadow: 0 6px 6px -3px rgba(0,0,0,.2), 0 10px 14px 1px rgba(0,0,0,.14), 0 4px 18px 3px rgba(0,0,0,.12);
}

@keyframes slideRight {
	0% {
		transform: translate(-250px, 0px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}

.slide-left {
	animation: slideLeft linear 0.2s forwards !important;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
}

@keyframes slideLeft {
	0% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(-250px, 0px);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.9997078523654739;
	}
	101% {
		opacity: 1;
	}
}

.fade-out {
	animation: fadeOut ease-in 0.2s forwards !important;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

#side_exit {
	width: calc(100% - 250px);
	height: 100%;
	margin: 0;
}

.sidebar_button {
	width: 250px;
	height: 42px;
	background-color: rgba(0, 0, 0, 0);
	color: rgba(0, 0, 0, 0.75);
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
}

.sidebar_button:hover {
	background-color: rgba(0, 0, 0, 0.15);
	color: rgba(0, 0, 0, 0.9)
}

#idinput {
	padding: 0px;
	margin: 0px;
	width: 250px;
	height: 350px;
	border: none;
	resize: none;
	outline: none;
	font-family: Roboto;
	font-weight: 600;
	background-color: rgba(0, 0, 0, 0.05);
}

#time {
	height: 10px;
	margin: 0px;
	padding: 0px;
	margin-top: 1px;
	margin-right: 5px;
	float: right;
	font-family: Roboto;
}

#time_elapsed,
#users_scanned {
	display: none;
	height: 10px;
	margin: 0px;
	padding: 0px;
	margin-top: 1px;
	margin-left: 5px;
	float: left;
	font-family: Roboto;
}

#backbutton {
	width: 250px;
	height: 72px;
	background-color: #484848;
	margin-top: 20px;
}

#back_hamburger {
	margin-top: 5px;
}

#action {
	height: 20px;
	float: right;
	margin: 0px;
	padding: 0px;
	width: 60px;
	display: flex;
	cursor: pointer;
	-webkit-app-region: no-drag;
}

.action_button {
	height: 20px;
	width: 20px;
	margin: 0px;
	padding: 0px;
	display: inline-flex;
	cursor: pointer;
}

.action_button:hover {
	background-color: #101010;
}

.action_button i {
	height: 20px;
	width: 20px;
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	cursor: pointer;
}

#settingsScreen {
	background-color: rgba(255, 255, 255, 1);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 11;
	color: rgba(0, 0, 0, 0.75);
	font-family: Roboto;
	display: none;
	animation: slideRighter linear 0.2s forwards;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
}

@keyframes slideRighter {
	0% {
		transform: translate(-100%, 0px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}

.slide-lefter {
	animation: slideLefter linear 0.2s forwards !important;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
}

@keyframes slideLefter {
	0% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(-100%, 0px);
	}
}

#exit_button {
	height: 72px;
	width: 72px;
	cursor: pointer;
	float: right;
}

#exit_button i {
	font-size: 40px;
	padding: calc(32px/2);
}

#settingsContainer {
	margin: 0px;
	width: 500px;
	height: 100%;
	margin-left: 28px;
}

#SettingsMessage {
	font-size: 50px;
	margin: 0px;
	padding-top: 28px;
}

.option {
	background-color: rgba(0, 0, 0, 0.15);
	height: 50px;
	border-bottom: 2px solid #c21f1f;
	margin-top: 20px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.option textarea {
	padding: 0px;
	margin: 0px;
	margin-left: 20px;
	width: calc(100% - 20px);
	height: 30px;
	border: none;
	resize: none;
	outline: none;
	font-family: Roboto;
	font-size: 25px;
	font-weight: 400;
	background-color: transparent;
	color: rgba(0, 0, 0, 0.6);
}

.option p {
	height: 12px;
	width: calc(100% - 20px);
	font-size: 12px !important;
	margin: 0px !important;
	margin-left: 20px !important;
	font-weight: 100;
	color: #c21f1f;
	padding: 0px !important;
	padding-top: 8px !important;
}

#container {
	margin-top: 92px;
	width: 100%;
	height: calc(100% - 92px);
	flex-direction: column;
	position: fixed;
	background-color: #fff;
	z-index: -11;
	overflow-y: scroll;
}

#schemaTimer {
	font-size: 20px !important;
	font-weight: 100 !important;
	margin: 0px !important;
	padding: 0px !important;
	margin-left: 10px !important;
	margin-top: 20px !important;
}

.button {
	margin-top: 20px;
	margin-left: 10px;
	font-size: 20px;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: calc(43px/2);
	background-color: transparent;
	color: rgba(0, 0, 0, 0.75);
}

.button:hover {
	background-color: rgba(0, 0, 0, 0.15);
	color: rgba(0, 0, 0, 0.9)
}

.user_options{
	height: 84px;
	width: 28px;
	background: rgba(0, 0, 0, 0.25);
}

.user_option {
	height: 28px;
	width: 28px;
}

.user_option a i{
	font-size: 28px;
}
.user_option a{
	text-decoration: none;
	color: rgba(255, 255, 255, 0.75)
}

.user_container {
	width: 100%;
	height: 84px;
	display: flex;
	box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
	margin-bottom: 20px;
	background-color: rgba(255,255,255,0.25);
}

.user_container a img{
	height: 84px;
	width: 84px;
}

.item_container {
	width: calc(100% - 168px);
	flex-grow: 1;
	height: 100%;
	margin: 0px;
	display: flex;
	cursor: pointer;
	overflow: hidden;
	margin-left: 10px;
}

.item_price{
	width: 64px;
	height: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	font-family: Roboto;
	text-align: center;
	font-size: 13px;
	padding-top: 2px;
}

.item {
	height: 64px;
	width: 64px;
}

.item img {
	height: 64px;
	width: 64px;
}

#startup_screen {
	display: none;
	height: calc(100% - 20px);
	width: 100%;
	bottom: 0px;
	background-color: #ffffff;
	position: fixed;
	z-index: 100;
	color: rgba(0, 0, 0, 0.75);
	animation: slideRighter linear 0.2s forwards;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	align-items: center;
	justify-content: center;
}

#startup_message {
	font-family: Roboto;
	margin: 0px;
	font-size: 30px;
	font-weight: 600;
}

.closeButton {
	height: 64px!important;
	width: 64px!important;
	color: rgba(0, 0, 0, 0.75);
	cursor: pointer;
}

.closeButton i{
	height: 64px;
	width: 64px;
	font-size: 64px;
}

.Craft {
	border: 2px dashed rgba(255, 255, 255, 0.75);
	box-sizing: border-box;
}

.Craft img{
	height: 60px;
	width: 60px;
}

.Normal {
	background-color: #B2B2B2;
}

.Genuine {
	background-color: #4D7455;
}

.Vintage {
	background-color: #476291;
}

.Unusual {
	background-color: #8650AC;
}

.Unique {
	background-color: #FFD700;
}

.Community {
	background-color: #70B04A;
}

.Valve {
	background-color: #A50F79;
}

.Self-Made {
	background-color: #70B04A;
}

.Strange {
	background-color: #CF6A32;
}

.Haunted {
	background-color: #38F3AB;
}

.Collector {
	background-color: #AA0000;
}

.Decorated {
	background-color: #FAFAFA;
}

#containerUser {
	display: block;
}

.containerUser {
	display: none;
	height: 100%;
	width: 100%;
	background-color: #ffffff;
	position: fixed;
	z-index: 50;
	color: rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.75); 
}

.switchContainer{
	height: 40px;
	width: 100%;
	margin-top: 20px;
	color: rgba(0, 0, 0, 0.75);
	font-family: Roboto;
	font-size: 20px;
	display: flex;
}

.switchMessage {
	vertical-align: middle;
	height: 20px;
	margin: 0px;
	margin-top: 10px;
	flex-grow: 1;
	font-family: Roboto;
	font-size: 20px;
}

.switchCheckBox{
	margin: 0px;
	height: 40px;
	width: 40px;
	border: none;
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	position: absolute;
	z-index: 5;
}

.switchLine {
	background-color: rgba(0, 0, 0, 0.25);
	width: 40px;
	height: 15px;
	margin-top: 12.5px;
	border-radius: 7.5px;
	transition: all 0.3s ease;	
}

.switchKnod {
	height: 15px;
	width: 15px;
	background-color: #4e4e4e;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 3px #4e4e4e, 0px 1px 6px 2px #000;
	position: relative;
	transition: all 0.3s ease;
}

.switchCheckBox:checked + div div{
	background-color: #c11f1f;
	box-shadow: 0px 0px 0px 3px #c11f1f, 0px 1px 6px 2px #000;
	margin-left: calc(100% - 15px);
}

.switchCheckBox:checked + div {
	background-color: rgba(193, 31, 31, 0.25);
}

.switch {
	float: right;
}

.textField{
	margin: 0px;
	margin-top: 20px;
	height: 40px;
	width: 100%;
	display: flex;
}

.textFieldInput {
	border: none;
	resize: none;
	border-bottom: 1px solid black;
	margin: 0px;;
	margin-top: 10px;
	height: 20px;
	width: 60px;
	font-family: Roboto;
	font-size: 15px;
	padding: 0px;
	outline: none;
	transition: all 0.3s ease;
}

.textFieldInput:focus {
	border-bottom: 2px solid #c11f1f;
}